[access]
	inheritFrom = DocumentLiberation-ACL-Template
[project]
	description = Library for import of Microsoft Visio documents.
[access "refs/*"]
	read = group GitHub Mirror
	read = group Gitorious Mirror
	read = group ReplicateFDO
[receive]
	requireChangeId = true
[submit]
	action = cherry pick
	mergeContent = true
